{% extends "winterblog/base_generic.html"%}
{%block content%}

<h1>{{user.username}}</h1>

<h2>Blog Posts</h2>
<form action="{% url 'winterblog:follow' user.id %}" method="POST">
        {%csrf_token%}
        <input type="submit" value="follow"/>

    </form>
    
    
    <ul>
        {%for blog in blogs%}
            {%if blog.headline%}
            <li><a href="{% url 'winterblog:blog_detail' blog.id%}">{{blog.headline}}</a></li>
            {% else %}
            <li> Not Found </li>
            {%endif%}
        {%endfor%}
    </ul>

{%endblock%}
